@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    padding: 0%;
    margin: 0%;
}

#game {
    width: 900px;
    height: 300px;
    border: 1px solid black;
    background-color: #dcdde1;
}

#character {
    
    position: relative;
    top: 140px;
    left: 30px;
}

#lvl1h {
    width: 25px;
    height: 4px;
    background-color: #353b48;
    position: relative;
    top: -18px;
    left: 32px;
}

#lvl2h {
    width: 30px;
    height: 15px;
    background-color: #353b48;
    position: relative;
    top: -19px;
    left: 30px;
}

#lvl3h {
    width: 15px;
    height: 5px;
    background-color: #353b48;
    position: relative;
    top: -19px;
    left: 30px;
}

#lvl4h {
    width: 32px;
    height: 4px;
    background-color: #353b48;
    position: relative;
    top: -21px;
    right: -25px;
}


#lvl5h {
    width: 20px;
    height: 4px;
    background-color: #353b48;
    position: relative;
    top: -21px;
    right: -22px;
}

#lvl6h {
    width: 24px;
    height: 4px;
    background-color: #353b48;
    position: relative;
    top: -21px;
    right: -18px;
}

#lvl7h {
    width: 35px;
    height: 4px;
    background-color: #353b48;
    position: relative;
    top: -21px;
    right: -14px;
}

#lvl8h {
    width: 4px;
    height: 6px;
    background-color: #353b48;
    position: relative;
    top: -21px;
    right: -45px;
}

#lvl9h {
    width: 55px;
    height: 4px;
    background-color: #353b48;
    position: relative;
    top: -28px;
    right: 13px;
}

#lvl10h {
    width: 55px;
    height: 4px;
    background-color: #353b48;
    position: relative;
    top: -28px;
    right: 13px;
}

#lvl11h {
    width: 50px;
    height: 4px;
    background-color: #353b48;
    position: relative;
    top: -28px;
    right: 8px;
}

#lvl12h {
    width: 43px;
    height: 4px;
    background-color: #353b48;
    position: relative;
    top: -28px;
    right: 5px;
}

#lvl13h {
    width: 33px;
    height: 4px;
    background-color: #353b48;
    position: relative;
    top: -28px;
    right: 0px;
}

#lvl14h {
    width: 14px;
    height: 3px;
    background-color: #353b48;
    position: relative;
    top: -50px;
    right: 13px;
}

#lvl15h {
    width: 10px;
    height: 4px;
    background-color: #353b48;
    position: relative;
    top: -57px;
    right: 13px;
}

#score{
    font-family: 'Press Start 2P';
    color: #353b48;
    position: absolute;
    left: 35%;
    top: 2%;
}

/* #scr{
    font-family: 'Press Start 2P';
    color: #353b48;
    position: absolute;
    left: 37%;
    top: 2%;
} */

#lvl16h {
    width: 5px;
    height: 13px;
    background-color: #353b48;
    position: relative;
    top: -74px;
    right: 13px;
}

#lvl17h {
    width: 25px;
    height: 4px;
    background-color: #353b48;
    position: relative;
    top: -48px;
    right: -3px;
}

#lvl18h {
    width: 13px;
    height: 4px;
    background-color: #353b48;
    position: relative;
    top: -48px;
    right: -5px;
}

#lvl19h {
    width: 8px;
    height: 4px;
    background-color: #353b48;
    position: relative;
    top: -48px;
    right: -7px;
}

#lvl20h {
    width: 5px;
    height: 5px;
    background-color: #353b48;
    position: relative;
    top: -48px;
    right: -9px;
}

#lvl21h {
    width: 10px;
    height: 4px;
    background-color: #353b48;
    position: relative;
    top: -48px;
    right: -9px;
}

#lvl22h {
    width: 8px;
    height: 9px;
    background-color: #353b48;
    position: relative;
    top: -68px;
    right: -20px;
}

#lvl23h {
    width: 4px;
    height: 7px;
    background-color: #353b48;
    position: relative;
    top: -68px;
    right: -22px;
}

#lvl24h {
    width: 10px;
    height: 4px;
    background-color: #353b48;
    position: relative;
    top: -68px;
    right: -22px;
}

#eye {
    width: 3px;
    height: 3px;
    background-color: white;
    position: relative;
    top: -140px;
    left: 36px;
}

.animate {
    animation: jump 500ms;
}

#endScreen{
    position: fixed;
    width: 18vw;
    left: 14%;
    top: 5%;
    display: none;
    /* animation: show infinite; */
}

/* @keyframes show {
    100%{display: flex;}
} */

@keyframes jump {
    0%{top: 140px;}
    30%{top: 70px;}
    70%{top: 70px;}
    100%{top: 140px;}
}

#block {
    width: 20px;
    height: 20px;
    background-color: #dcdde1;
    position: relative;
    top: 60px;
    left: 880px;
    animation: block 1s infinite linear;
}

#lvl1 {
    width: 5px;
    height: 4px;
    background-color: #353b48;
    position: relative;
    top: -40px;
    right: 50px;
}

#lvl2 {
    width: 10px;
    height: 50px;
    background-color: #353b48;
    position: relative;
    top: -40px;
    right: 52px;
}

#lvl3 {
    width: 17px;
    height: 4px;
    background-color: #353b48;
    position: relative;
    top: -60px;
    right: 44px;
}

#lvl4 {
    width: 15px;
    height: 4px;
    background-color: #353b48;
    position: relative;
    top: -60px;
    right: 44px;
}

#lvl5 {
    width: 10px;
    height: 20px;
    background-color: #353b48;
    position: relative;
    top: -88px;
    right: 35px;
}

#lvl6 {
    width: 5px;
    height: 4px;
    background-color: #353b48;
    position: relative;
    top: -111px;
    right: 33px;
}

#lvl7 {
    width: 13px;
    height: 4px;
    background-color: #353b48;
    position: relative;
    top: -89px;
    right: 65px;
}

#lvl8 {
    width: 10px;
    height: 3px;
    background-color: #353b48;
    position: relative;
    top: -89px;
    right: 62px;
}

#lvl9 {
    width: 8px;
    height: 18px;
    background-color: #353b48;
    position: relative;
    top: -113px;
    right: 68px;
}

#lvl10 {
    width: 5px;
    height: 4px;
    background-color: #353b48;
    position: relative;
    top: -135px;
    right: 67px;
}
@keyframes block {
    0%{left:1080px;}
    100%{left: -40px;}
}
